<tr [routerLink]="['/soldier', soldier?.soldier?.id]">
  <td [ngStyle]="{ 'padding-left': nesting * 0.5 + 'em' }">
    {{ soldier?.soldier?.role }}
  </td>
  <td>
    <span class="rank-container">
      <img
        class="rank-image"
        *ngIf="soldier?.rank?.uri"
        [src]="soldier?.rank?.uri"
      />
    </span>
    {{ soldier?.rank?.abbreviation }}
  </td>
  <td>
    {{ soldier?.soldier?.name?.first }}. {{ soldier?.soldier?.name?.last }}
  </td>
  <td>{{ soldier?.soldier?.player }}</td>
  <td class="ralign">{{ soldier?.soldier?.joined | date: "mediumDate" }}</td>
</tr>
