/* override */
a { text-decoration: none; }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #aea2ba;
}

.content {
    max-width: 1000px;
    font-family: Helvetica, Arial, sans-serif;
}

h3, h4 {
    color: #2f2d45;
}

/* Header */
.header {
    display: flex;
    flex-direction: row;
}

.header .logo {
    height: 200px;
    width: 200px;
}

.header .text {
    display: flex;
    flex-direction: column;
    font-size: 3em;
    color: #2f2d45;
    margin-left: 30px;
}

.header .text div {
    flex: 1;
}

.header .text .name {
    display: flex;
    /* align-items: flex-end; */
    align-items: center;
    font-weight: 600;
}

.header .text .motto {
    
}

/* Dividers and Spacers */
.divider {
    height: 30px;
    border-bottom: 3px solid #2f2d45;
    margin-bottom: 20px;
}

.divider.small {
    height: 30px;
    width: 50%;
    border-bottom: 3px solid #2f2d45;
    margin: 0 auto 20px auto;
}

.spacer {
    height: 30px;
}

/* Blurb */


/* Discord Invite Button */
.discord {
    display: flex;
    justify-content: center;
}

.discord .button {
    width: 375px;
    height: 75px;
    background-color: #2f2d45;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
}

.discord .button:hover {
    filter: brightness(120%);
}

.discord .button .logo {
    padding: 10px;
    width: 71px; /* prevent shift during logo load in */
}

.discord .button .text {
    flex: 1;
    color: #eeeeee;
    align-self: center;
    text-align: center;
    padding-right: 10px;
    font-weight: 600;
}

/* General alignment */
.container-col {
    display: flex;
    flex-direction: row;
}

.container-col.col2 div {
    width: 50%;
}

.container-col.col3 div {
    width: 33%;
}

.container-col div {
    padding: 0 10px;
}

.container-col div h4 {
    width: 100%;
    text-align: center;
}
